:root {
    /* header */
    --background-blue: #4160FF;

    /* personality section */
    --personality-blue: #0057FF;
    --blue-button: #131CFB;
    --white-circle: rgba(255, 255, 255, 0.61);
    --blue-circle: rgba(137, 206, 255, 0.51);

    /* join section */
    --join-blue: #1564FD;
    --basic-lightblue: #89CEFF;
    --green-circle: rgba(137, 255, 142, 0.45);
    --yellow-circle: rgba(246, 255, 137, 0.47);

    /* questions */
    --background-color: rgba(60, 173, 255, 0.23);

    /* login page */
    --basic-blue:#0092FC;
}